*.o
*.os
*.so
*.a
*.swp
*.dblite
*.aux
*.fls
*.toc
*.bbl
*.blg
*.out
*.so.*
*.deb
*.pyc
*.changes
.sconf_temp
build.log
config.log
build
.cccc
/doc/ug/latexmkrc~
/doc/ug/libpninexus_ug.bib~
*.gch
install
/.cproject
/.project
/.settings/
/.pydevproject
