language: cpp
dist: xenial

env:
    - OS=debian11 BUILDTYPE=Debug
    - OS=debian11 BUILDTYPE=Release
    - OS=debian10 BUILDTYPE=Debug
    - OS=debian10 BUILDTYPE=Release
    - OS=debian9 BUILDTYPE=Debug
    - OS=debian9 BUILDTYPE=Release
    - OS=ubuntu20.10 BUILDTYPE=Debug
    - OS=ubuntu20.10 BUILDTYPE=Release
    - OS=ubuntu20.04 BUILDTYPE=Debug
    - OS=ubuntu20.04 BUILDTYPE=Release
    - OS=ubuntu18.04 BUILDTYPE=Debug
    - OS=ubuntu18.04 BUILDTYPE=Release
    # - OS=ubuntu18.10 BUILDTYPE=Debug
    # - OS=ubuntu18.10 BUILDTYPE=Release
    # - OS=debian8 BUILDTYPE=Debug
    # - OS=debian8 BUILDTYPE=Release

services:
    - docker
    
before_script:
    - docker build -t build .travis/${OS}
    - docker run --name build -i -d -v"$PWD:/src" build
    - docker exec -it build ls
    - docker exec -it build bash -c "git submodule init"
    - docker exec -it build bash -c "git submodule update --remote"
    - docker exec -it build bash -c "mkdir build"
    
    
script:
    - docker exec -e BUILDTYPE -it build bash -c "cd build && cmake -G Ninja -DWITH_CONAN=OFF -DCMAKE_BUILD_TYPE=$BUILDTYPE .."
    - docker exec -e BUILDTYPE -it build bash -c "cd build && cmake --build . --target all --config $BUILDTYPE"
    - docker exec -e BUILDTYPE -it build bash -c "cd build && cmake --build . --target check --config $BUILDTYPE"
    
after_script:
    - docker container stop build
    
